@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@Model.Name</h4>
<h4>@Model.Email</h4>
<h4>@Model.Phone</h4>

<!-- <address>
    Galen Housego<br />
    galen.housego@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    (504) 235-1973
</address> -->

