@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>MOVIE HUB</h1>
<div class="item">
    <div>
        <a class="btn btn-default" href="http://localhost:5000/Movies">
            Get Started
        </a>                
</div>
